.navbar-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* fixes alignment */
}

.profile-circle {
  width: 35px;
  height: 35px;
  background: #2563eb;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
}
